Can monitor the moister levels and temperature of the soil.

Reports the moister level using green led and segment display.

Rods should connect the board to the soil.

waters soil if the soil's moister level is too low.

Can set the 'too low' level via the FRDM's built-in buttons.

Alerts when temperature is within dangerous levels using red light.

Can set the temperature threshold via built-in buttons.
